# Entornos virtuales
.venv/
venv/
env/
ENV/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Herramientas y Caché
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
.tox/
.mypy_cache/

# Entorno local
.env
.env.local

# Archivos de build/distribución
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Archivos del sistema y editores
.idea/
.vscode/
*.swp
*.swo
.DS_Store
